# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.iml
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Kubernetes secrets
kubernetes_configs/*-secrets.yaml
